version: "3.9"

services:
  catalog-db:
    image: mariadb:10.9
    hostname: catalog-db
    restart: always
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=catalogdb
    volumes:
      - /tmp/catalog-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 60s

  carts-db:
    image: amazon/dynamodb-local:1.20.0
    hostname: carts-db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "exit 0"]
      interval: 5s
      timeout: 5s
      retries: 3

  checkout-redis:
    image: redis:6.0-alpine
    hostname: checkout-redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  catalog:
    image: public.ecr.aws/aws-containers/retail-store-sample-catalog:0.8.3
    hostname: catalog
    restart: always
    environment:
      - GIN_MODE=release
      - RETAIL_CATALOG_PERSISTENCE_PROVIDER=mysql
      - RETAIL_CATALOG_PERSISTENCE_ENDPOINT=catalog-db:3306
      - RETAIL_CATALOG_PERSISTENCE_USER=root
      - RETAIL_CATALOG_PERSISTENCE_PASSWORD=
    ports:
      - "8081:8080"
    depends_on:
      catalog-db:
        condition: service_healthy

  cart:
    image: public.ecr.aws/aws-containers/retail-store-sample-cart:0.8.3
    hostname: carts
    restart: always
    environment:
      - RETAIL_CART_PERSISTENCE_PROVIDER=dynamodb
      - RETAIL_CART_PERSISTENCE_DYNAMODB_ENDPOINT=http://carts-db:8000
      - RETAIL_CART_PERSISTENCE_DYNAMODB_CREATE_TABLE=true
      - AWS_ACCESS_KEY_ID=key
      - AWS_SECRET_ACCESS_KEY=dummy
    ports:
      - "8082:8080"
    depends_on:
      carts-db:
        condition: service_healthy

  checkout:
    image: public.ecr.aws/aws-containers/retail-store-sample-checkout:0.8.3
    hostname: checkout
    restart: always
    environment:
      - RETAIL_CHECKOUT_PERSISTENCE_PROVIDER=redis
      - RETAIL_CHECKOUT_PERSISTENCE_REDIS_URL=redis://checkout-redis:6379
    ports:
      - "8085:8080"
    depends_on:
      checkout-redis:
        condition: service_healthy

  ui:
    image: public.ecr.aws/aws-containers/retail-store-sample-ui:0.8.3
    hostname: ui
    restart: always
    environment:
      - JAVA_OPTS=-XX:MaxRAMPercentage=75.0 -Djava.security.egd=file:/dev/urandom
      - RETAIL_UI_ENDPOINTS_CATALOG=http://catalog:8080
      - RETAIL_UI_ENDPOINTS_CARTS=http://carts:8080
      - RETAIL_UI_ENDPOINTS_CHECKOUT=http://checkout:8080
    ports:
      - "8888:8080"
    depends_on:
      catalog:
        condition: service_started
      cart:
        condition: service_started
      checkout:
        condition: service_started
